*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* @font-face {
  src: url('/vue-public/sui\ generis\ rg.ttf') format('truetype');
} */

body {
  min-height: 100vh;
  color: var(--foreground);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding {
  padding: 0 20px;
}

.padding-main {
  padding: 0 20px;
  padding-bottom: 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

h3 {
  color: var(--card-foreground);
  background-clip: text;
  padding: 5px 2px;
  font-size: 14px !important;
}

*:disabled {
  opacity: 1;
}

a {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: inherit !important;
  margin-bottom: inherit !important;
  font-weight: 550 !important;
  line-height: 1.6 !important;
}

ion-refresher-content {
  margin-top: 40px;
}

/* DOLNY PASEK NAWIGACYJNY */
ion-tab-bar {
  background: var(--card);
  color: white;
}
