.dark {
  --background-color: oklch(0.136 0.036 259.201);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.136 0.036 259.201);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.136 0.036 259.201);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.592 0.218 263.581);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(48.315% 0.19586 28.951);
  --destructive-foreground: oklch(1 0 0);
  --border-color: oklch(0.396 0.055 259.709);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.68 0.106 259.815);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --tag-red-bg: #330000;
  --tag-red-text: #ff6666;
  --tag-orange-bg: #331a00;
  --tag-orange-text: #ff9933;
  --tag-yellow-bg: #332b00;
  --tag-yellow-text: #ffe066;
  --tag-green-bg: #002d1a;
  --tag-green-text: #66ffb2;
  --tag-teal-bg: #003333;
  --tag-teal-text: #66ffff;
  --tag-blue-bg: #001933;
  --tag-blue-text: #66aaff;
  --tag-indigo-bg: #1a1a40;
  --tag-indigo-text: #9999ff;
  --tag-purple-bg: #2b004d;
  --tag-purple-text: #d580ff;
  --tag-pink-bg: #33001a;
  --tag-pink-text: #ff66b2;
  --tag-brown-bg: #2b1a14;
  --tag-brown-text: #d2a679;
}

:root {
  --background-color: oklch(0.955 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.592 0.218 263.581);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.789 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(48.315% 0.19586 28.951);
  --destructive-foreground: oklch(1 0 0);
  --border-color: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.145 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --tag-red-bg: #ffe5e5;
  --tag-red-text: #b30000;
  --tag-orange-bg: #fff1e0;
  --tag-orange-text: #b34700;
  --tag-yellow-bg: #fffbe0;
  --tag-yellow-text: #8c7000;
  --tag-green-bg: #e5fff1;
  --tag-green-text: #007a3d;
  --tag-teal-bg: #e0f7f7;
  --tag-teal-text: #007f80;
  --tag-blue-bg: #e0f0ff;
  --tag-blue-text: #005cb3;
  --tag-indigo-bg: #e8eaff;
  --tag-indigo-text: #4b50c9;
  --tag-purple-bg: #f3e0ff;
  --tag-purple-text: #6c00b3;
  --tag-pink-bg: #ffe0f0;
  --tag-pink-text: #b3006b;
  --tag-brown-bg: #f2e6e0;
  --tag-brown-text: #5c3d2e;
  
  --nav-height: 85px;
  --radius: 0.5rem;
}

ion-content {
  --background: var(--background-color); /*override of ionic background variable that is responsible for the background color*/
}

body {
  --ion-text-color: var(--primary-foreground);

  --login-button-bg:
    color-mix(in srgb, var(--primary) 12%, white);
  --chat-color:
    color-mix(in srgb, var(--primary) 35%, white);
  --red: color-mix(in srgb, var(--destructive) 70%, black);
  --daily-quest-gradient:
    radial-gradient(
      farthest-corner at 90% 90%,
      color-mix(in srgb, var(--primary) 55%, white) 0%,
      var(--chart-2) 100%
    );
}

:root,
body {
  --ion-font-family: "Space Grotesk", "Roboto", "Hervetica Neue", sans-serif;
}

/** Ionic CSS Variables **/
:root {
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: rgb(249, 250, 250);
  /* --ion-color-light-rgb: 244, 245, 248; */
  --ion-color-light-rgb: 249, 250, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /* shadows */
  --app-card-shadow: 0 .15rem .8rem .1rem rgba(0, 0, 0, .25);
  --app-elem-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* --ion-text-color: white;
  --ion-background-color: #371000; */
}

.alert-title {
  color: black !important;
}
/* zglos post - zglos/anuluj */
.md ion-action-sheet {
  --background: #fdce7e00;              
  --button-background: #c19f5e;      
  --button-color: rgb(255, 255, 255);
  --button-border-radius: 50% !important;

}
 /* zglos post - powod */
.custom-alert .alert-wrapper {
    background-color: #c19f5e !important;
    border-radius: 20px; 
}

.custom-alert .alert-button {
    color: rgb(255, 255, 255); /* tekst przycisków - anuluj zglos*/
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  :root {
    --dark-invert-filter: invert(1);
    --dark-brightness-filter: brightness(1.8);
    --app-card-shadow: 0 .15rem .8rem .1rem rgba(255, 255, 255, 0.12);
  }
}